# Dependency directories
node_modules/

# Optional build outputs (if using preprocessors/bundlers)
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*

docs/internal/
